<div class="name" *ngIf="nameNavbar">
    <div>
        <strong> {{ nameOwner | titlecase }} </strong>.
    </div>
    <div class="close">
        <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="nameNavbarChange()"></button>
    </div>
</div>

<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><<strong>RODOLFO</strong>LIMA/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Front-End
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/angular">ANGULAR</a></li>
              <li><a class="dropdown-item" routerLink="/jasmine">JASMINE</a></li>
              <li><a class="dropdown-item" routerLink="/codespace">CODESPACE</a></li>
              <li><a class="dropdown-item" routerLink="/git">GIT</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/aboult">SOBRE</a></li>
            </ul>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>