<!-- <p>Getting started with Angular!</p> -->

<!-- <app-card-default>
    <div class="title"> Getting started with Angular!</div>
    <div class="card-title"> titulo do card fake </div>
    <div class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, laboriosam. </div>
    <div class="button-somewhere"> Go somewhere </div>
</app-card-default> -->

<div id="angular">
    <div class="card">
        <div class="card-header">
            Getting started with Angular!
        </div>
        <div class="card-body">
            <div class="content">
                <h5 class="card-title">
                    Primeiros Passos com Angular.
                </h5> <br>
                <h5 class="card-title">
                    Configurando o Ambiênte de Desenvolvimento!
                </h5>
                <div>
                    <p class="card-text">
                        Instale o <a href="https://nodejs.org/en">NODE.JS</a> em sua máquina para ter acesso aos pacotes
                        NPM, como o "npm install" que é utilizado para a instalação do Angular/cli. <br>
                        Depois de instalado, em seu prompet de comando escreva "node --version" para verificar se
                        foi instalado corretamente.
                    </p>
                    <p class="card-text">
                        Na sequencia instale o Angular/cli! Você pode instalar na ultima versão ou em alguma especifica,
                        como @10.2.3.
                    </p>

                    <div class="cards-code">
                        <div class="card w-75 mb-3 text-bg-dark code">
                            <div class="card-body">
                                <p class="card-text" id="copy-text">
                                    {{ installAngular }}
                                    <button id="button-copy" type="button" class="btn btn-link" (click)="onClick(installAngular)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                            <path
                                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                            <path
                                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z" />
                                        </svg>
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="card w-75 mb-3 text-bg-dark code">
                            <div class="card-body align-content">
                                <p class="card-text">
                                    {{ installAngularVersion }}
                                    <button type="button" class="btn btn-link" (click)="onClick(installAngularVersion)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                            <path
                                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                            <path
                                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z" />
                                        </svg>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>

                    <p class="card-text">
                        Se for preciso desinstalar, utilize os comandos.
                    </p>
                    <div class="cards-code">
                        <div class="card w-75 mb-3 text-bg-light code">
                            <div class="card-body">
                                <p class="card-text">
                                    {{ uninstallAngular }}
                                    <button type="button" class="btn btn-link" (click)="onClick(uninstallAngular)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                            <path
                                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                            <path
                                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z" />
                                        </svg>
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="card w-75 mb-3 text-bg-light code">
                            <div class="card-body">
                                <p class="card-text">
                                    {{ cleanCache }}
                                    <button type="button" class="btn btn-link" (click)="onClick(cleanCache)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                            <path
                                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                            <path
                                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z" />
                                        </svg>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>

                    <p class="card-text">
                        Instale o <a href="https://code.visualstudio.com/">VS-CODE</a> para começar a desenvolver suas aplicações!
                    </p>
                </div>
            </div>
            <!-- <button class="btn btn-primary">
                somewhere
            </button> -->
        </div>
    </div>
</div>