<div id="card-default">
    <div class="card">
        <div class="card-header">
            <ng-content select=".title"></ng-content>
        </div>
        <div class="card-body">
            <div class="content">
                <h5 class="card-title">
                    <ng-content select=".card-title"></ng-content>
                </h5>
                <p class="card-text">
                    <ng-content select=".card-text"></ng-content>
                </p>
            </div>
            <button class="btn btn-primary">
                <ng-content select=".button-somewhere"></ng-content>
            </button>
        </div>
    </div>
</div>